@fundboxGreen: #1dbb9b;
@navy: #2F3953;
@coral: #E56765;
@slate: #ABD9D2;
@cream: #FEF7DC;
@tan: #E8B36F;
@white: #fff;

body {
  margin: 0;
  font-family: sans-serif;
}

.icon(@url) {
    background-image: url(@url);
    background-size: cover;
    background-repeat: no-repeat;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}