@import "mixins";

    main {
	  height: 100vh;
	  width: 100vw;
	  position: relative;
	  z-index: 1;
	  .first,
	  .second,
	  .third {
		height: 100vh;
		width: 100vw;
        position: absolute;
	  }

	.second,
	.third {
        opacity: 0;
	  }

	  .first {
		z-index: 10;

        &.active-good {
		  background: linear-gradient( 48deg, #5ff8ca, #60e08c);
          animation: animateGradient 5s ease infinite;
          background-size: 400% 400%;
          opacity: 1;
        }
	  }

	  .second {
		z-index: 20;

        &.active-neutral {
		  background: linear-gradient(48deg, #19eaa6, #00a1f0);
          animation: animateGradient 5s ease infinite;
          background-size: 400% 400%;
          opacity: 1;
        }
	  }

	  .third {
		animation-delay: 8s;
		z-index: 30;

        &.active-bad {
		  background: linear-gradient(135deg, #74148D 0%, #8C1D85 16.96%, #BA2D76 48.88%, #FF0065 100%);
          animation: animateGradient 5s ease infinite;
          background-size: 400% 400%;
          opacity: 1;
        }
	  }
	}

    @-webkit-keyframes animateGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes animateGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes animateGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

	@keyframes first {
	  0% {opacity: 1.0;}
	  10% {opacity: 0.8;}
	  20% {opacity: 0.6;}
	  30% {opacity: 0.4;}
	  40% {opacity: 0.2;}
	  50% {opacity: 0.1;}
	  60% {opacity: 0.2;}
	  70% {opacity: 0.4;}
	  80% {opacity: 0.6;}
	  90% {opacity: 0.8;}
	  100% {opacity: 1.0;}
	}

	@keyframes second {
	  0% {opacity: 0;}
	  10% {opacity: 0.2;}
	  20% {opacity: 0.4;}
	  30% {opacity: 0.6;}
	  40% {opacity: 0.8;}
	  50% {opacity: 1.0;}
	  60% {opacity: 0.8;}
	  70% {opacity: 0.6;}
	  80% {opacity: 0.4;}
	  90% {opacity: 0.2;}
	  100% {opacity: 0;}
	}

	@keyframes third {
	  //0% {opacity: 0;}
	  //10% {opacity: 0.2;}
	  //20% {opacity: 0.4;}
	  //30% {opacity: 0.6;}
	  //40% {opacity: 0.8;}
	  //50% {opacity: 1.0;}
	  //60% {opacity: 0.8;}
	  //70% {opacity: 0.6;}
	  //80% {opacity: 0.4;}
	  //90% {opacity: 0.2;}
	  //100% {opacity: 0;}
      0% {opacity: 0;}
	  10% {opacity: 0.2;}
	  20% {opacity: 0.4;}
	  30% {opacity: 0.6;}
	  40% {opacity: 0.8;}
	  50% {opacity: 1.0;}
	  60% {opacity: 0.8;}
	  70% {opacity: 0.6;}
	  80% {opacity: 0.4;}
	  90% {opacity: 0.2;}
	  100% {opacity: 0;}
	}

    .stats-container {
      width: 100%;
      height: 100vh;
      position: absolute;
      z-index: 1000;
    }

	.mbx-logo {
      .icon("../images/logo.svg");
      height: 74px;
      width: 119px;
      margin: 20px;
	}

    .mbx-score {
      width: 100%;
      position: absolute;
      bottom: 0;
      font-size: 400px;
      font-weight: bold;
      text-align: center;
      line-height: 0.7;
      letter-spacing: -24px;
      color: @white;
      opacity: 0.3;
    }

    .piechart {
      height: 800px;
      width: 800px;

      .export-main {
        display: none;
      }

      path {
        &:hover {
          cursor: pointer;
        }
      }

      // Hide stupid self promo crap
      a[target="_self"] {
        display: none !important;
      }
    }

    .superlatives-container {
      flex: 1;
    }

    .superlative-category {
      .flex-row();
      color: white;
      font-family: sans-serif;
      font-size: 16px;
      padding: 10px;
      margin-bottom: 15px;

      img {
        height: 70px;
        margin-right: 10px;
      }

      .superlative-title {
        font-weight: 100;
        margin-bottom: 5px;
      }
    }

    .data-wrapper {
      .flex-row();
      position: relative;
      bottom: 200px;
    }

    .vr {
      width: 1px;
      height: 340px;
      border-left: 2px solid white;
      align-self: flex-start;
      position: relative;
      left: 50px;
    }
    
    .feed-container {
      .flex-row();
      flex-direction: row;
      justify-content: space-around;
      height: 87px;

      .feed-item {
        display: inherit;

        img {
          margin-right: 10px;
        }

        .feed-details {
          .flex-col();
          flex-direction: row;
          font-size: 16px;
          color: @gray;

          .feed-item-timestamp {
            font-weight: 900;
            margin-right: 5px;
          }

          .feed-item-emotion {
            font-weight: 100;
            margin-left: 5px;
          }
        }
      }
    }